:root {
    --bg-button: white;
    --border-buton: solid 1px #888;

}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-buton);
    outline: none;
}

.button:active{
    background-color:cornflowerblue;
}

.button.double{
    grid-column: span 2;
}


.button.triple{
    grid-column: span 3;
}

.button.operation{
    background-color: darkorchid;
    color: whitesmoke;
}

.button.operation:active{
    background-color: rgb(51, 20, 66);
    color: whitesmoke;
}
